<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Flask Memo</title>
</head>
<body>
    <h1>Flask Memo</h1>

    <form method="POST">
        <input type="text" name="memo" placeholder="メモを入力">
        <button type="submit">追加</button>
    </form>

    <ul>
        {% for data in dataList %}
            <li>
              <form method="POST" action="/update" style="display:inline;">
                  <input type="hidden" name="id" value="{{ data.id }}">
                  <input type="text" name="content" value="{{ data.content }}">
                  <button type="submit">更新</button>
              </form>
            
              <form method="POST" action="/delete" style="display:inline;">
                  <input type="hidden" name="id" value="{{ data.id }}">
                  <button type="submit">削除</button>
              </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>